
singularity {
  enabled = true
  autoMounts = true
}



process {
  container = 'ndatth/deepsea:v0.0.0'
  executor = 'slurm'
  process.queue = 'smallmem,hugemem'

  
  withLabel: with_1gpu {
    containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
    ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
    clusterOptions = '--gres=gpu:1'
    process.queue = 'gpu'
  }

  withLabel: with_3gpus {
    containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
    ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
    clusterOptions = '--gres=gpu:3'
    process.queue = 'gpu'
  }

}



executor {
  queueSize = 15
  submitRateLimit = '1 sec'
}
